@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Patrick Hand', cursive, 'Arial';
  background-color: #fafafa;
  color: #1e1e2c;
}
